!!!
%html
	%head
		%title Login
		%link{:rel => 'stylesheet', :type => 'text/css', :href => 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'}
	%body
		%h1{ :style => "text-align: center;"} Welcome
		#form-container{ :style => "width: 480px; margin: 0 auto; box-shadow: 0 0 10px black; padding: 20px 0;"}
			%form#components.form-horizontal{role: "form", :method => 'post'}
				%fieldset
					#input.tab-pane.active
						.component
						.form-group
							%label.col-md-4.control-label{for: "usernameinput"} Username
							.col-md-6
								%input#usernameinput.form-control.input-md{name: "usernameinput", placeholder: "username", type: "text"}
						.component
						.form-group
							%label.col-md-4.control-label{for: "passwordinput"} Password
							.col-md-6
								%input#passwordinput.form-control.input-md{name: "passwordinput", placeholder: "password", type: "password"}
						.col-md-7.text-center
							%button.btn.btn-primary{:type => "submit", :style => "float:right"} Submit
