!!!
%html
	%head
		%title Login
		%link{:rel => 'stylesheet', :type => 'text/css', :href => 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'}
	%body
		%h1{ :style => "text-align: center;"} Welcome
		#form-container
			%form#components.form-horizontal{role: "form"}
				