<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Marvel Movie Voting</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
</body>

</html>
<table class='table table-hover table-striped'>
    <% Choices.each do |id, text| %>
        <tr>
            <th>
                <%= text %>
            </th>
            <td>
                <%= @votes[id] || 0 %>
                    <td>
                        <%= '#' * (@votes[id] || 0) %>
                    </td>
        </tr>
        <% end %>
</table>
<a href="/" class="btn btn-info">Back to the voting page</a>
<br>

</html>